<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <title>login</title>
</head>
<body>
    <form method='POST'>
        {% csrf_token %}
        <div class="mt-10">
        <label class="ml-0.5 text-xl font-sans">Username</label>
        <input class="input ml-3 input-accent" name="username" type="text" id="username" {{form.username.value}}>
    </div>
    <div class="mt-10 ml-0.5">
        <label class="ml-0.5 text-xl font-sans ">password</label>
        <input class=" ml-3 input input-accent" name="password" type="password" id="password" {{form.password.value}}>
    </div>
        <button class="ml-0.5 btn mt-10 btn-accent">login</button>
        </div>
        <p class="mt-5 ml-0.5">do you want register?<a class="link color: rgb(254 226 226);" href="{% url 'signup' %}">register</a></p>
    </form>
</body>
</html>